#flex-container{
	display: flex;
	flex-wrap: wrap;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'san-serif';
	background: url("https://wallpaperaccess.com/full/1170390.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.login-box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: -10%;
	transform: translate(-50%,-50%);
	color: white;
	flex: 50%;
}

.login-box h1{
	text-align : center;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px;
	padding: 13px 0;

}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin :8px 0;
	border: 4px solid #4caf50;
	display: block;
	border-radius: 24px;
	transition: 0,25s;
}


.textbox i{
	width: 26px;
	float: left;
	text-align: center;
}

.textbox input{
	color: white ;
	background: none;
	border: none;
	outline: none;
	font-size :18px;
	width: 80%;
	margin: 0 10px;
	float: left;
}

.textbox button{
	color: white ;
	background: none;
	border: none;
	outline: none;
	font-size :18px;
	width: 80%;
	margin: 0 10px;
	float: left;
}

.btn{
	width: 100%;
	background: none ;
	border: 4px solid #4caf50;
	color: white;
	padding: 8px;
	font-size: 18px;
	cursor: pointer ;
	border-radius: 24px;
	display: block;
	text-align: center;
	float: none ;
}

/*End*/

